@model AgnosticAlbatros.Models.Api.StoreData

<div id="users-create" class="content-container">
    <h2>Update Kitchen</h2>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Update">
                <div hidden>
                    <label asp-for="Store.ID" class="control-label"></label>
                    <input asp-for="Store.ID" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Store.Name" class="control-label"></label>
                    <input asp-for="Store.Name" class="form-control" />
                    <span asp-validation-for="Store.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Store.Tel1" class="control-label"></label>
                    <input asp-for="Store.Tel1" class="form-control" />
                    <span asp-validation-for="Store.Tel1" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Store.Tel2" class="control-label"></label>
                    <input asp-for="Store.Tel2" class="form-control" />
                    <span asp-validation-for="Store.Tel2" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Store.AddressStreet" class="control-label"></label>
                    <input asp-for="Store.AddressStreet" class="form-control" />
                    <span asp-validation-for="Store.AddressStreet" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Store.AddressNumber" class="control-label"></label>
                    <input asp-for="Store.AddressNumber" class="form-control" />
                    <span asp-validation-for="Store.AddressNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Store.Notes" class="control-label"></label>
                    <input asp-for="Store.Notes" class="form-control" />
                    <span asp-validation-for="Store.Notes" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Store.CityID" class="control-label">City</label>
                    <select asp-for="Store.CityID">
                        @foreach (var item in Model.Cities)
                        {
                            <option value="@item.ID">@item.Name</option>
                        }
                    </select>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-default" />
                    </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</div>