@model AgnosticAlbatros.ViewModels.PlanningViewModel

<div id="planning-content" class="content-container">
    <div class="top-content">

    </div>
    <div class="scrollable-content">
        <h2>@Model.Kitchen @Model.Today</h2>
    </div>
    <div class="bottom-content">

    </div>
</div>