@model AgnosticAlbatros.Models.Api.CityData

<div id="users-create" class="content-container">
    <h2>New City</h2>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div class="form-group">
                    <label asp-for="city.Name" class="control-label"></label>
                    <input asp-for="city.Name" class="form-control" />
                    <span asp-validation-for="city.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="city.ZipCode" class="control-label"></label>
                    <input asp-for="city.ZipCode" class="form-control" />
                    <span asp-validation-for="city.ZipCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="city.CountryID" class="control-label">Country</label>
                    <select asp-for="city.CountryID">
                        @foreach (var item in Model.countres)
                        {
                            <option value="@item.ID">@item.Name</option>
                        }
                    </select>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</div>