<div class="wrapper">
    <div class="sidebar" data-color="red" style="background-color:#fafafa">
        <div class="logo">
            <a class="simple-text">
                DeliGate
            </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li>
                    <a class="link" href="/Main">
                        <i class="material-icons">home</i>
                        <p>Log In</p>
                    </a>
                </li>
                <li>
                    <a class="link" href="/Main/Register">
                        <i class="material-icons">person_add</i>
                        <p>Registreren</p>
                    </a>
                </li>
                <li class="active">
                    <a class="link" href="#">
                        <i class="material-icons">info</i>
                        <p>Info</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-transparent navbar-absolute">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse">
                        <span class="sr-only"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
            </div>
        </nav>

        <div id="login-content" class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header" data-background-color="purple">
                                <h4 class="title">Info</h4>
                                <p class="category">Alles wat je moet weten over Deligate</p>
                            </div>
                            <div class="card-content">
                                <p class="content">Nog niet veel momenteel.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container-fluid">
                <p class="copyright pull-right">
                    &copy;
                    <script>
                            document.write(new Date().getFullYear())
                    </script>
                    Jory Jackmaer
                </p>
            </div>
        </footer>
    </div>
</div>