@model AgnosticAlbatros.Models.Api.LoginData


<div class="wrapper">
    <div class="sidebar" data-color="red" style="background-color:#fafafa">
        <div class="logo">
            <a class="simple-text">
                DeliGate
            </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="active">
                    <a class="link" href="#">
                        <i class="material-icons">home</i>
                        <p>Log In</p>
                    </a>
                </li>
                <li>
                    <a class="link" href="/Main/Register">
                        <i class="material-icons">person_add</i>
                        <p>Registreren</p>
                    </a>
                </li>
                <li>
                    <a class="link" href="/Main/About">
                        <i class="material-icons">info</i>
                        <p>Info</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-transparent navbar-absolute">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse">
                        <span class="sr-only"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"></a>
                </div>
            </div>
        </nav>

        <div id="login-content" class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header" data-background-color="purple">
                                <h4 class="title">Log In</h4>
                                <p class="category">Meld u aan om DeliGate te gebruiken</p>
                            </div>
                            <div class="card-content">
                                <form asp-action="Login">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group label-floating">
                                                <label asp-for="Email" class="control-label">Email *</label>
                                                <input asp-for="Email" type="email" class="form-control" required />
                                                <span asp-validation-for="Email" class="material-icons form-control-feedback">clear</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group label-floating">
                                                <label asp-for="PassWord" class="control-label">Wachtwoord *</label>
                                                <input asp-for="PassWord" type="password" class="form-control" required />
                                                <span asp-validation-for="PassWord" class="material-icons form-control-feedback">clear</span>
                                            </div>
                                        </div>
                                    </div>

                                    <button type="submit" value="Login" class="btn btn-primary pull-right">Log In</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container-fluid">
                <p class="copyright pull-right">
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script>
                    Jory Jackmaer
                </p>
            </div>
        </footer>
    </div>
</div>