@model AgnosticAlbatros.Models.Api.RegisterData

<div class="wrapper">
    <div class="sidebar" data-color="red" style="background-color:#fafafa">
        <div class="logo">
            <a class="simple-text">
                DeliGate
            </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li>
                    <a class="link" href="/Main">
                        <i class="material-icons">home</i>
                        <p>Log In</p>
                    </a>
                </li>
                <li class="active">
                    <a class="link" href="#">
                        <i class="material-icons">person_add</i>
                        <p>Registreer</p>
                    </a>
                </li>
                <li>
                    <a class="link" href="/Main/About">
                        <i class="material-icons">info</i>
                        <p>Info</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-transparent navbar-absolute">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse">
                        <span class="sr-only"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"></a>
                </div>
            </div>
        </nav>

        <div id="register-content" class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="co-md-8">
                        <div class="card">
                            <div class="card-header" data-background-color="purple">
                                <h4 class="title">Registreer</h4>
                                <p class="category">Maak een nieuwe DeliGate account aan.</p>
                            </div>
                            <div class="card-content">
                                <form asp-action="RegisterForm">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group label-floating">
                                                <label asp-for="Email" class="control-label">Email *</label>
                                                <input asp-for="Email" class="form-control" type="email" required />
                                                <span asp-validation-for="Email" class="material-icons form-control-feedback">clear</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group label-floating">
                                                <label asp-for="LastName" class="control-label">Achternaam *</label>
                                                <input asp-for="LastName" class="form-control" required />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group label-floating">
                                                <label asp-for="FirstName" class="control-label">Voornaam *</label>
                                                <input asp-for="FirstName" class="form-control" required />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group label-floating">
                                                <label asp-for="CompanyName" class="control-label">Bedrijfsnaam *</label>
                                                <input asp-for="CompanyName" class="form-control" required />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group label-floating">
                                                <label asp-for="City" class="control-label">Stad *</label>
                                                <input asp-for="City" class="form-control" required />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group label-floating">
                                                <label asp-for="ZipCode" class="control-label">PostCode *</label>
                                                <input asp-for="ZipCode" class="form-control" required />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group label-floating">
                                                <label asp-for="Country" class="control-label">Land *</label>
                                                <select class="form-control" asp-for="Country">
                                                    @foreach (var item in Model.Countries)
                                                {
                                                    @if (item.Name == "Belgium")
                                                {
                                                    <option selected value="@item.ID">@item.Name</option>
                                            }
                                            else
                                            {
                                                <option value="@item.ID">@item.Name</option>
                                        }
                                            }
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <p class="card-description pull-left">Een email met uw wachtwoord wordt verzonden naar het opgegeven emailadres.</p>
                                    <button type="submit" value="Register" class="btn btn-primary pull-right">Registreer</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container-fluid">
                <p class="copyright pull-right">
                    &copy;
                    <script>
                            document.write(new Date().getFullYear())
                    </script>
                    Jory Jackmaer
                </p>
            </div>
        </footer>
    </div>
</div>